<%- include('header'); %>
<form method="POST" action="/del">
        <div class="row">
          <div class="col">
            <label>Delete movie</label>
          </div>
          <div class="col">
            <input type="text" class="form-control" name="name">
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Delete</button>
      </form>

<%- include('footer'); %>

